@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing:border-box;
  outline:none;border:none;
  text-decoration:none;
  margin:0px; padding:0px;
  transition: all .2s linear;
}
html {
  scroll-padding-top:10px;
  scroll-behavior:smooth;
  overflow-x:hidden;
  font-size:62.5%;
}


section {
  padding:7rem 9%;
}
section:nth-child(even) {
  background:#eee;
}

.sub-heading {
  text-align: center;
  color:darkblue;
  font-size:2.5rem;
  padding-top:1rem;
}
.heading {
  text-align: center;
  color:blue;
  font-size:3rem;
  padding-bottom:2rem;
  text-transform:capitalize;
}
:root {
  --white:#fff;
  --black:#1f1e1e;
  --blue:#0b32f4;
  --red:#f31212;
  --green:green;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

/* Width and color of the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #0840e7, #0a7203);  
  border-radius: 5px;
}
/*END */

header {
  position:fixed;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:1000;
  right:0;left:0;top:0;
  background-color:var(--white);
  padding:20px;
  box-shadow:var(--box-shadow);
}

header .logo {
  font-size:2.5rem;
  color:var(--black);
}

header i {
  margin-right:15px;
  color:var(--blue);
}

header nav a {
  font-size:1.7rem;
  color:var(--black);
  padding:.5rem 1.5rem;
  border-radius:.5rem;
}
header nav a.active,
header nav a:hover {
  color:var(--white);
  background:var(--blue);
}

header .icons a,
header .icons i {
  background:#eee;
  font-size:1.7rem;
  height:4.5rem;
  width:4.5rem;
  line-height:4.5rem;
  margin-left:.5rem;
  color:var(--black);
  text-align:center;
  border-radius:30%;
}

header .icons a:hover,
header .icons i:hover {
  background:var(--blue);
  color:var(--white);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display:none;
}

header .search-form {
  position:fixed;
  top:-110%;
  left:0;
  width:100%;
  height:100%;
  align-items:center;
  justify-content:center;
  display:flex;
  background:rgba(0,0,0,.9);
  z-index:1004;
}
header .search-form.active {
  top:0;
  transition: .4s linear;
} 

header .search-form input {
  padding:1rem 2rem;
  width:45rem;
  height:5rem;
  font-size:1.7rem;
  border-bottom:.5rem solid #ccc;
  color:white;
  background:none;  
}

header .search-form #search-icon {
  padding-right:2.2rem;
  color:white;
  cursor:pointer;
  font-size:2.2rem;  
}

header .search-form #search-icon:hover {
  color:darkorange;  
}

header .search-form #close-btn {
  position:absolute;
  top:5%;
  right:3rem;
  color:white;
  font-size:4rem;
}
header .search-form #close-btn:hover {
  color:#f50f0f;
}


.home .home-slider .slide {
  display:flex;
  cursor:pointer;
  align-items:center; 
  flex-wrap:wrap;
  gap:2rem;
  padding-top:9rem;  
}
.home .home-slider .slide .content {
   flex: 1 1 45rem;
}
.home .home-slider .slide .image {
  flex: 1 1 45rem;
}
.home .home-slider .slide .image img {
  width:90%;
}
.home .home-slider .slide .content span{
  font-size:2.7rem;
  color:var(--blue);
}
.home .home-slider .slide .content h3{
  font-size:7rem;
  color:darkblue;
}
.home .home-slider .slide .content p{
  font-size:2rem;
  padding: .7rem 0;
  color:var(--black);
  margin-bottom:1.5rem;
}
.btn {
  display:inline-block;
  font-size:1.7rem;
  padding: .7rem 2.5rem;
  color:var(--white);
  background:darkblue;
  border-radius:.8rem;
}

.btn:hover {
  background:var(--green);
  letter-spacing:.15rem;
}

.swiper-pagination-bullet-active {
  background:darkblue;
}
.swiper-pagination-bullet-active:hover {
  background:var(--green);
}

.dishes .card-container {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(28rem, 1fr));
  gap:1.5rem;
  margin-bottom:3rem;
}
.dishes .card-container .card {
  padding:1.5rem;
  border:.1rem solid #ccc;
  background:#fff;
  box-shadow:var(--box-shadow);
  text-align:center;
  border-radius:1.5rem;
  position: relative;
  overflow:hidden;
}
.dishes .card-container .card .fa-heart,
.dishes .card-container .card .fa-eye {
  position:absolute;
  width:5rem;
  height:5rem;
  top:1.5rem;
  font-size:2rem;
  color:darkblue;
  background:#fff;
  border-radius:50%;
  line-height:5rem; 
}

.dishes .card-container .card .fa-heart:hover,
.dishes .card-container .card .fa-eye:hover {
  color:var(--white);
  background:var(--green);
}

.dishes .card-container .card .fa-heart {
  right:-15rem;
}
.dishes .card-container .card .fa-eye {
  left:-15rem;
}

.dishes .card-container .card:hover .fa-heart {
  right:1.5rem;
}
.dishes .card-container .card:hover .fa-eye {
  left:1.5rem;
}

.dishes .card-container .card img {
  padding:1rem 0;
  height:17rem;
} 
.dishes .card-container .card h3 {
  font-size:2.5rem;
} 
.dishes .card-container .card .stars {
  padding:1rem 0;
} 
.dishes .card-container .card .stars {
  font-size:1.7rem;
  color:var(--blue);
} 
.dishes .card-container .card .stars:hover {
  letter-spacing:.2rem;
  color:green;
} 
.dishes .card-container .card span {
  font-size:2rem;
  margin-right:1rem;
  font-weight:bolder;
  color:var(--blue);
} 
.about .about-container {
  display:flex;
  flex-wrap:wrap;
  gap:1.5rem;
  align-items:center;
}
.about .about-container .image {
  flex: 1 1 45rem;
}

.about .about-container .content {
  flex: 1 1 45rem;
}

.about .about-container .image img{
  width:100%;
  height:auto;
}
.about .about-container .content p {
  font-size:1.8rem;
  padding: .7rem 0;
  color:var(--black);
  margin-bottom:1.5rem;
}
.about .about-container .content .icons-container {
  display:flex;
  flex-wrap:wrap;
  gap:1rem;
  align-items:center;
  margin-bottom:2rem;
}

.about .about-container .content .icons-container .icons {
  padding:1.5rem 1.5rem;
  background:#ccc;
  display:flex;
  flex:1 1 15rem;
  gap:1rem;
  justify-content:center;
  align-items:center;
  border:.1rem solid #b3adad;
  border-radius:1rem;
}

.about .about-container .content .icons-container .icons:hover {
  background:var(--green);
  color:white;
}

.about .about-container .content .icons-container .icons i{
  font-size:1.8rem;
  color:var(--blue);
  margin-right:.5rem;
}

.about .about-container .content .icons-container .icons span{
  font-size:1.5rem;
  color:var(--black);
  font-weight:400;
}
.menu {
  padding:7rem 4%;
}
.menu .menu-container {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(28rem, 1fr));
  gap:1.5rem;
  justify-content:center;
  align-items:center;
  padding:2rem;
}

.menu .menu-container .card {
  gap:1.5rem;
  justify-content:center;
  align-items:center;
  padding:2rem;
  box-shadow:var(--box-shadow);
  background:#fff;
  position:relative;
  border:.1rem solid #ccc;
  border-radius:1.5rem;
  overflow:hidden;
}
.menu .menu-container .card .image{
  padding:.3rem 0;
  border-radius:1rem;
  width:100%;
  height:25rem;
  position:relative;
  overflow:hidden;
}

.menu .menu-container .card .image img{
  padding:.5rem 0;
  border-radius:1rem;
  width:100%;
  height:100%;
}
.menu .menu-container .card .image img:hover{
  transform:scale(1.02);
}

.menu .menu-container .card .stars {
  font-size:1.7rem;
  color:blue;
  }
.menu .menu-container .card .stars:hover {
  letter-spacing:.2rem;
  color:green;
  }

.menu .menu-container .card .sub-heading {
  text-align:start;
}
.menu .menu-container .card p {
  text-align:start;
  font-size:1.5rem;
  color:var(--black);
  padding-top:.7rem;
  padding-bottom:.7rem
}
.menu .menu-container .card span {
  margin-left:1.5rem;
  font-size:2rem;
  color:darkblue;
  font-weight:bolder;
}

.menu .menu-container .card .fa-heart {
  position:absolute;
  right:3.5rem;
  top:3.5rem;
  color:darkblue;
  font-size:2.3rem;
  border-radius:50%;
  height:4rem;
  width:4rem;
  line-height:4rem;  
  background:white;
  text-align:center;
  z-index:200;
  
}
.menu .menu-container .card .fa-heart:hover {
  transform:scaleZ(1.02);
  background:green;
  color:white;
}

/* Review Section Styles start here */
.review {
  padding:7rem 5%;
}

.review .review-container {
  width:100%;
  height:35rem;
}

.review .review-container .card {
  background:#fff;
  box-shadow:var(--box-shadow);
  position:relative;
  gap:1.5rem;
  cursor:pointer;
  padding:2rem;
  border:.1rem solid #ccc;
  border-radius:1.2rem;
}
.review .review-container .card .fa-quote-right {
  position:absolute;
  font-size:4rem;
  right:2.5rem;
  top:2.5rem;
  color:gray;
}

.review .review-container .card .user img{
  border-radius:50%;
  height:7rem;
  width:7rem;
  object-fit:cover;
}
.review .review-container .card .user {
  display:flex;
  gap:.5rem;
  align-items:center;
}

.review .review-container .card .user-info h4{
  font-size:1.7rem;
  padding:.5rem;
  color:black;
}
.review .review-container .card .stars {
  font-size:1.3rem;
  padding:1rem;
  color:blue;
}
.review .review-container .card .stars:hover {
  color:darkorange;
  letter-spacing:3px;
}
.review .review-container .card .body p {
  font-size:1.5rem;
  color:black;
  padding:1rem;
}
/* Review Section Styles end here */


/* Order Section Styles start here */
.order form {
  max-width:120rem;
  width:100%;
  margin:0 auto;
  background:white;
  padding:1.5rem;
  box-shadow:var(--box-shadow);
  border:.1rem solid #ccc;
  border-radius:1.5rem;
}

.order form .input-box  {
  padding:2rem;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between; 
}
.order form .btn  {
  margin-left:2rem;
  margin-bottom:2rem;
}

.order form .input-box .input {
  width:49%;
}

.order form .input-box .input span {
  font-size:1.7rem;
  color:black;
  display:block;
  font-weight:500;
  padding-bottom:1rem;
}
.order form .input-box .input input {
  border:.1rem solid #ccc;
  border-radius:.7rem;
  padding:1.5rem;
  width:100%;
  background:rgba(240,245,255,0.7);
}
.order form .input-box .input textarea {
  width:100%;
  padding:1.5rem;
  background:rgba(240,245,255,0.7);
  border:.1rem solid #ccc;
  border-radius:.7rem;
  resize:none;
  height:12rem;
}

.order form .input-box .input input:focus,
.order form .input-box .input textarea:focus {
  border-color:#1306cb;
  box-shadow:var(--box-shadow);
}
/* Order Section Styles end here */

/* Footer Section Styles start here */
.footer .box-container {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(23rem, 1fr));
  gap:1.5rem;
  justify-content:center;
}
.footer .box-container .box {
  font-size:1.7rem;
  padding:.5rem 0;
}

.footer .box-container .box h3 {
  display:block;
  font-size:1.7rem;
  padding:.5rem 0;
  color:black;
  font-weight:bolder;
}

.footer .box-container .box a {
  display:block;
  position:relative;
  font-size:1.5rem;
  padding:.5rem 0;
  color:darkblue;
}

.footer .box-container .box a:hover {
  color: blue;
  transform: translateX(1rem);
}
.footer .credits {
  font-size:2rem;
  color:blue;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  border-top: .1rem solid #ccc;
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  text-align:center;
}
.footer .credits span {
  color:darkorange;
  font-weight:bolder;
}
/* Footer Section Styles end here */

/* Loader Section Styles start here */
.loader-container {
  position:fixed;
  background:#fff;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10000;
  justify-content:center;
  align-items:center;
  display:flex;
  overflow:hidden;
}

.loader-container img {
  width:20rem;
}

.loader-container.fade-out {
  top:-110%;
  opacity:0;
}
/* Loader Section Styles end here */








/*media queries*/
@media (max-width: 991px){
  html {
  font-size:55%;
}
  header {
    padding:1.2rem 2rem;
  }
  .dishes .card-container .card img {
  width:100%;
  height:auto;
} 
  .menu .menu-container .card .image img {
  width:100%;
  height:auto;
} 
}
@media (max-width: 450px){
  html {
  font-size:50%;
}
  .order form .input-box .input {
  width:100%;
}
}


@media (max-width: 768px){
  header {
    .icons #menu-bars{
      display:inline-block;
    }
  
    .navbar {
      position:absolute;
      left:0;
      display:grid;
      justify-content:center;
      align-items:center;
      height:100vh;
      right:0;
      top:0;
      clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }  

    .navbar.active {
      clip-path: polygon(0 0,100% 0, 100% 100%, 0% 100%);
      background-color:#e3e6ed;
      transition:.2s linear;
    }  
    navbar {
    margin-left:.5rem;
    }

    .navbar a {
      display:block;
      padding:.5rem;
      font-size:2rem;
    }  
}

@media (max-width: 768px){
  html {
  font-size:50%;
}
  header {
    padding:1.3rem 1.5rem;
  }
  .home .home-slider .slide .content h3{
  font-size:5rem;
}
}

@media (max-width: 345px){
  html {
  font-size:45%;
}
  header {
    .icons #heart{
      display:none;
    }
  }
}

@media (max-width:420px){
  header .search-form.active  {
   #search-box{
     width:70%;
   } 
  }
}
