<!DOCTYPE html>
<html>
  <head>
    <title>Colltech Restaurant </title>
    <link rel="icon" type="image/svg" href="/static/restlogo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="/static/styles.css">
    <script src="https://kit.fontawesome.com/fbd3b48644.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  
<body>

<!---Header section starts here --->

<header>
<a href="/" class="logo"><i class="fas fa-utensils"></i>Colltech</a>
   
<nav class="navbar">
  <a class="active" href="/">Home</a>
  <a href="/about">About</a>
  <a href="/dishes">Dishes</a>
  <a href="/menu">Menu</a>
  <a href="/review">Review</a>
  <a href="/order">Order</a>
</nav>

  <div class="icons">
<i class="fas fa-search" id="search-icon"></i> 
<a href="#" class="fas fa-heart" id="heart"></a>
<a href="#" class="fas fa-shopping-cart" id="cart"></a>
<i class="fas fa-bars" id="menu-bars"></i>


  </div>  
</header>
<!---Header section ends here --->
  
</body>
</html>

<script src="static/script.js"></script>