<!DOCTYPE html>
<html>
  <head>
    <title>Colltech Restaurant </title>
    <link rel="icon" type="image/svg" href="/static/restlogo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/fbd3b48644.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet"  href="/static/styles.css">
  </head>
  
<body>

<!---Header section starts here --->

<header>
<a href="/" class="logo"><i class="fas fa-utensils"></i>Colltech</a>
   
<nav class="navbar">
  <a class="active" href="/">Home</a>
  <a href="/dishes">Dishes</a>
  <a href="/about">About</a>
  <a href="/menu">Menu</a>
  <a href="/review">Review</a>
  <a href="/order">Order</a>
</nav>

  <div class="icons">
<i class="fas fa-search" id="search-icon"></i> 
<a href="#" class="fas fa-heart" id="heart"></a>
<a href="#" class="fas fa-shopping-cart" id="cart"></a>
<i class="fas fa-bars" id="menu-bars"></i>
  </div>  
</header>
<!---Header section ends here --->

<!---Home section starts here --->
<section class="home" id="home">
  <div class="swiper mySwiper home-slider">
   <div class="swiper-wrapper wrapper">
     <div class="swiper-slide slide">
        <div class="content">
          <span>Our Special Dish</span>
          <h3>Delicious Noodles</h3>
          <p>Indulge in an unforgettable culinary journey with our special delicious noodles, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
          <a href="#" class="btn">Order Now </a>
        </div>
       <div class="image">
         <img src="/static/home-img-1.png">
       </div>
     </div>
     <div class="swiper-slide slide">
        <div class="content">
          <span>Our Special Dish</span>
          <h3>Hot Pizza</h3>
          <p>Savor the mouthwatering delight of our delectable pizzas, topped with the finest ingredients and baked to perfection, making each bite a true taste sensation.</p>
          <a href="#" class="btn">Order Now </a>
        </div>
       <div class="image">
         <img src="/static/home-img-3.png">
       </div>
     </div>
     <div class="swiper-slide slide">
        <div class="content">
          <span>Our Special Dish</span>
          <h3>Fried Chicken </h3>
          <p>Indulge in the crispy and flavorful goodness of our fried chicken, seasoned to perfection and fried to a golden perfection that will leave you craving for more.</p>
          <a href="#" class="btn">Order Now </a>
        </div>
       <div class="image">
         <img src="/static/home-img-2.png">
       </div>
     </div>
   </div>
    <div class="swiper-pagination"></div>
  </div> 
</section>  
<!---Home section ends here ---> 

<!---Dishes section starts here ---> 
<section class="dishes" id="dishes">
  <h3 class="sub-heading">Our Dishes</h3>
  <h1 class="heading">Popular Dishes </h1>
  <div class="card-container">
   <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-1.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.750.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>

    <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-2.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.500.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>

    <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-3.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.950.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>

    <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-4.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.1150.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>

    <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-5.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.450.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>
    <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-6.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.550.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>
  </div>
</section>  
<!---Dishes section ends here --->
  
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</body>
</html>

<script src="static/script.js"></script>