<!DOCTYPE html>
<html>
  <head>
    <title>Colltech Restaurant </title>
    <link rel="icon" type="image/svg" href="/static/restlogo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/fbd3b48644.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet"  href="/static/styles.css">
  </head>
  
<body>

<!---Header section starts here --->

<header>
<a href="/" class="logo"><i class="fas fa-utensils"></i>Colltech</a>
   
<nav class="navbar">
  <a class="active" href="#home">Home</a>
  <a href="#dishes">Dishes</a>
  <a href="#about">About</a>
  <a href="#menu">Menu</a>
  <a href="#review">Review</a>
  <a href="#order">Order</a>
</nav>

  <div class="icons">
<i class="fas fa-search" id="search-icon"></i> 
<a href="#" class="fas fa-heart" id="heart"></a>
<a href="#" class="fas fa-shopping-cart" id="cart"></a>
<i class="fas fa-bars" id="menu-bars"></i>
  </div> 

  <!---Search form section starts here --->
<form class="search-form">
  <input type="search" id="search-box" placeholder="Enter your search term...">
  <label for="search-box" id="search-icon" class="fas fa-search"></label>
</form>
<!---Search form section ends here ---> 
  
</header>
<!---Header section ends here --->
  
  
<!---Home section starts here --->
<section class="home" id="home">
  <div class="swiper mySwiper home-slider">
   <div class="swiper-wrapper wrapper">
     <div class="swiper-slide slide">
        <div class="content">
          <span>Our Special Dish</span>
          <h3>Delicious Noodles</h3>
          <p>Indulge in an unforgettable culinary journey with our special delicious noodles, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
          <a href="#" class="btn">Order Now </a>
        </div>
       <div class="image">
         <img src="/static/home-img-1.png">
       </div>
     </div>
     <div class="swiper-slide slide">
        <div class="content">
          <span>Our Special Dish</span>
          <h3>Hot Pizza</h3>
          <p>Savor the mouthwatering delight of our delectable pizzas, topped with the finest ingredients and baked to perfection, making each bite a true taste sensation.</p>
          <a href="#" class="btn">Order Now </a>
        </div>
       <div class="image">
         <img src="/static/home-img-3.png">
       </div>
     </div>
     <div class="swiper-slide slide">
        <div class="content">
          <span>Our Special Dish</span>
          <h3>Fried Chicken </h3>
          <p>Indulge in the crispy and flavorful goodness of our fried chicken, seasoned to perfection and fried to a golden perfection that will leave you craving for more.</p>
          <a href="#" class="btn">Order Now </a>
        </div>
       <div class="image">
         <img src="/static/home-img-2.png">
       </div>
     </div>
   </div>
    <div class="swiper-pagination"></div>
  </div> 
</section>  
<!---Home section ends here ---> 

<!---Dishes section starts here ---> 
<section class="dishes" id="dishes">
  <h3 class="sub-heading">Our Dishes</h3>
  <h1 class="heading">Popular Dishes </h1>
  <div class="card-container">
   <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-1.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.750.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>

    <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-2.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.500.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>

    <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-3.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.950.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>

    <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-4.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.1150.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>

    <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-5.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.450.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>
    <div class="card">
     <a href="#" class="fas fa-heart"></a>
     <a href="#" class="fas fa-eye"></a>
     <img src="static/dish-6.png">
     <h3>Tasty Food </h3>
     <div class="stars">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star-half-alt"></i>
     </div>
     <span>Kshs.550.00</span>
     <a href="#" class="btn" >Add to cart</a>
   </div>
  </div>
</section>  
<!---Dishes section ends here --->

<!---About section starts here --->
  <section class="about" id="about">
    <h3 class="sub-heading">About Us </h3>
  <h1 class="heading">WHY CHOOSE US? </h1>
    <div class="about-container">
      <div class="image">
        <img src="/static/about-img.png">
      </div>
      <div class="content">
        <h3 class="sub-heading">Best Food in the Country </h3>
        <p>At our food website, we pride ourselves on offering a delightful culinary journey that caters to all tastes and preferences. </p>
        <p>We prioritize the use of fresh, locally sourced ingredients to ensure the highest quality and to support local communities. From wholesome breakfast options to sumptuous main courses and delectable desserts, our food website promises an unforgettable dining experience right at your fingertips. </p>
        <div class="icons-container">
        <div class="icons">
          <i class="fas fa-shipping-fast"></i>
          <span>Free Delivery</span>
        </div>
        <div class="icons">
          <i class="fas fa-dollar-sign"></i>
          <span>Easy Payments</span>
        </div>
        <div class="icons">
          <i class="fas fa-shipping-fast"></i>
          <span>24/7 Service </span>
        </div>
        </div>
        <a class="btn" href="#about">Learn More </a>
      </div>
    </div>
  </section>
<!---About section ends here --->

  
<!---Menu section starts here --->
  <section class="menu" id="menu">
    <h3 class="sub-heading">Our Menu </h3>
  <h1 class="heading">TODAY'S SPECIALITY </h1>
    <div class="menu-container">
      <div class="card">
        <a href="#" class="fas fa-heart"></a>
        <div class="image">
          <img src="/static/menu-1.jpg">
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="sub-heading">Delicious Food </h3>
        <p>Indulge in an unforgettable culinary journey with our special delicious foods, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
        <a class="btn" href="#">Add to Cart </a>
        <span>$20.00</span> 
      </div>

      <div class="card">
        <a href="#" class="fas fa-heart"></a>
        <div class="image">
          <img src="/static/menu-2.jpg">
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="sub-heading">Delicious Food </h3>
        <p>Indulge in an unforgettable culinary journey with our special delicious foods, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
        <a class="btn" href="#">Add to Cart </a>
        <span>$25.00</span> 
      </div>

      <div class="card">
        <a href="#" class="fas fa-heart"></a>
        <div class="image">
          <img src="/static/menu-3.jpg">
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="sub-heading">Delicious Food </h3>
        <p>Indulge in an unforgettable culinary journey with our special delicious foods, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
        <a class="btn" href="#">Add to Cart </a>
        <span>$12.20</span> 
      </div>

      <div class="card">
        <a href="#" class="fas fa-heart"></a>
        <div class="image">
          <img src="/static/menu-4.jpg">
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="sub-heading">Delicious Food </h3>
        <p>Indulge in an unforgettable culinary journey with our special delicious foods, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
        <a class="btn" href="#">Add to Cart </a>
        <span>$15.00</span> 
      </div>

      <div class="card">
        <a href="#" class="fas fa-heart"></a>
        <div class="image">
          <img src="/static/menu-5.jpg">
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="sub-heading">Delicious Food </h3>
        <p>Indulge in an unforgettable culinary journey with our special delicious foods, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
        <a class="btn" href="#">Add to Cart </a>
        <span>$11.50</span> 
      </div>

      <div class="card">
        <a href="#" class="fas fa-heart"></a>
        <div class="image">
          <img src="/static/menu-6.jpg">
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="sub-heading">Delicious Food </h3>
        <p>Indulge in an unforgettable culinary journey with our special delicious foods, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
        <a class="btn" href="#">Add to Cart </a>
        <span>$18.00</span> 
      </div>

      <div class="card">
        <a href="#" class="fas fa-heart"></a>
        <div class="image">
          <img src="/static/menu-7.jpg">
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="sub-heading">Delicious Food </h3>
        <p>Indulge in an unforgettable culinary journey with our special delicious foods, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
        <a class="btn" href="#">Add to Cart </a>
        <span>$13.50</span> 
      </div>

      <div class="card">
        <a href="#" class="fas fa-heart"></a>
        <div class="image">
          <img src="/static/menu-8.jpg">
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="sub-heading">Delicious Food </h3>
        <p>Indulge in an unforgettable culinary journey with our special delicious foods, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
        <a class="btn" href="#">Add to Cart </a>
        <span>$14.25</span> 
      </div>

      <div class="card">
        <a href="#" class="fas fa-heart"></a>
        <div class="image">
          <img src="/static/menu-9.jpg">
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="sub-heading">Delicious Food </h3>
        <p>Indulge in an unforgettable culinary journey with our special delicious foods, where the perfect blend of flavors and tantalizing spices will leave you craving for more.</p>
        <a class="btn" href="#">Add to Cart </a>
        <span>$25.15</span> 
      </div>
    </div>
  </section>
<!---Menu section ends here --->

  
<!---Review section starts here --->
  <section class="review" id="review">
    <h3 class="sub-heading"> Customer's Review </h3>
  <h1 class="heading">WHAT PEOPLE SAY ABOUT US  </h1>
    <div class="swiper mySwiper review-container">
      <div class="swiper-wrapper">
      <div class="swiper-slide card">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="static/pic-1.png" alt="">
          <div class="user-info">
            <h4>Michael Bryce</h4>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          </div>
        </div>
        <div class="body">
          <p>An unforgettable dining experience! The ambiance was cozy, and the attentive staff made us feel like VIPs. The menu offered a delightful array of flavors, and our taste buds were treated to a symphony of deliciousness. Highly recommend the chef's special - it was a culinary masterpiece!</p>
        </div>
      </div>

      <div class="swiper-slide card">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="static/pic-2.png" alt="">
          <div class="user-info">
            <h4>Hannah Johnson </h4>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          </div>
        </div>
        <div class="body">
          <p>Five stars all the way! From the moment we stepped in, we were greeted with warm smiles and outstanding service. The menu selection was impressive, catering to both meat lovers and vegetarians. The food was prepared with finesse, and the presentation was top-notch. Definitely coming back for more</p>
        </div>
      </div>

      <div class="swiper-slide card">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="static/pic-3.png" alt="">
          <div class="user-info">
            <h4>Erick Nyagah </h4>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          </div>
        </div>
        <div class="body">
          <p>A hidden gem in the city! The restaurant's ambiance was elegant and inviting, making it the perfect spot for a romantic dinner. The menu featured an impressive selection of wines to complement the delicious dishes. We were blown away by the impeccable service and the gastronomic delight that followed.</p>
        </div>
      </div>

        <div class="swiper-slide card">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="static/coll.png" alt="">
          <div class="user-info">
            <h4>Collince Hals </h4>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          </div>
        </div>
        <div class="body">
          <p>Exceptional service and flavors that linger in your memory! The restaurant's team went above and beyond to accommodate our dietary requirements, ensuring a personalized and enjoyable meal. The fusion of ingredients and flavors was both innovative and comforting. Without a doubt, one of the best dining spots around!</p>
        </div>
      </div>

      <div class="swiper-slide card">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="static/pic-4.png" alt="">
          <div class="user-info">
            <h4>Mary Miss </h4>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          </div>
        </div>
        <div class="body">
          <p>Hands down, the best dining experience in town! The attention to detail was evident in every aspect - from the chic decor to the delectable cuisine. We couldn't get enough of the mouthwatering desserts; they were truly a treat for the senses. A must-visit for anyone seeking a culinary adventure!</p>
        </div>
      </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
<!---Review section ends here --->

  
<!---Order section starts here --->
  <section class="order" id="order">
    <h3 class="sub-heading">Order Now </h3>
  <h1 class="heading">FREE AND FAST DELIVERY </h1>
    <form action="">
    <div class="input-box">
      <div class="input">
        <span>Enter your Name:</span>
        <input type="text" name="name" placeholder="Enter your Name" >
      </div>
      <div class="input">
        <span>Enter your Number:</span>
        <input type="text" name="number" placeholder="Enter your Phone Number" >
      </div>
    </div>

      <div class="input-box">
      <div class="input">
        <span>Your Order:</span>
        <input type="text" name="order" placeholder="Enter your order" >
      </div>
      <div class="input">
        <span>Additional Food:</span>
        <input type="test" name="additional" placeholder="Enter an Extra Order" >
      </div>
    </div>

      <div class="input-box">
      <div class="input">
        <span>Quantity:</span>
        <input type="number"  name="quantity" placeholder="Number of orders" >
      </div>
      <div class="input">
        <span>Date and Time:</span>
        <input type="datetime-local" name="date" placeholder="dd/mm/yy ----" >
      </div>
    </div>

      <div class="input-box">
      <div class="input">
        <span>Your Address:</span>
        <textarea name="address" cols="30" rows="10" placeholder="Enter your delivery address"></textarea>
      </div>
      <div class="input">
        <span>Your Message:</span>
        <textarea cols="30" rows="10" type="text" name="message" placeholder="Enter your Message"></textarea>
      </div>
    </div>
      <input type="submit" value="Order Now" class="btn" >
      
    </form>
  </section>
<!---Order section ends here ---> 

<!---Footer section starts here --->  
<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>Our Branches </h3>
      <a href="#">Nairobi</a>
      <a href="#">Kisumu </a>
      <a href="#">Mombasa</a>
      <a href="#">Garissa</a>
      <a href="#">Kwale</a>
      <a href="#">Kampala</a>
    </div>
    <div class="box">
      <h3>Quick Links  </h3>
      <a href="#">Home</a>
      <a href="#">About </a>
      <a href="#">Dishes</a>
      <a href="#">Menu</a>
      <a href="#">Review</a>
      <a href="#">Order</a>
    </div>

    <div class="box" id="social-media">
      <h3>Follow Us </h3>
      <a href="#">Twitter</a>
      <a href="#">Facebook </a>
      <a href="#">Instagram</a>
      <a href="#">Whatsapp</a>
      <a href="#">WeChat</a>
      <a href="#">Order</a>
    </div>
    
    <div class="box">
      <h3>Contact Info.  </h3>
      <a href="#">Call: +254 0000000</a>
      <a href="#">WhatsApp: +255 2000000 </a>
      <a href="#">Email: colltechresto@gmail.com</a>
      <a href="#">Email: colltechkampala@gmail.com</a>
      <a href="#">HQs Office| 00100, NAIROBI.</a>
    </div>
  </div>
  <div class="credits">&copy; 2023 -<span> @Collince Hals </span> </div>
</section>
<!---Footer section ends here ---> 


  
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</body>
</html>

<script src="static/script.js"></script>